@font-face {
  font-family: "yekan";
  src: url("../src/assest/font//IRANYekanMedium.ttf");

}

@font-face {
  font-family: "yekan2";
  src: url("../src/assest/font/IRANYekanLight.ttf");

}

* {
  font-family: "yekan2";
}

body {
  overflow-x: hidden;
  min-width: 350px;
}

@media screen and (max-width: 550px) {
  body {
    overflow-x: auto;
  }
}